@theme {
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
}

@layer utilities {
  .bg_default {
    @apply bg-[oklch(0.2_0.05_250/1)];
  }
  .bg_first {
    @apply bg-[oklch(0.24_0.05_250/1)];
  }
  .bg_second {
    @apply bg-[oklch(0.28_0.05_250/1)];
  }
  .bg_white {
    @apply bg-[oklch(0_0_0/0.2)];
  }
  .text_first {
    @apply text-3xl;
  }
}
