* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

.container {
  border: 3px double pink;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  margin: 0 auto;
  flex-direction: column;
}
